{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Real Estate</title>
    <link rel="stylesheet" href="{% static 'admin/css/styles.css' %}">
</head>
<body>

<header class="main-header">
    <h1>CK REAL ESTATE</h1>
    <nav class="navigation">
        <a href="{% url 'agent_home' %}" class="nav-item">HOME</a>
        <a href="{% url 'agent_listings' %}" class="nav-item active">PROPERTIES</a>
        <a href="{% url 'add_listing' %}" class="nav-item">ADD LISTING</a>
        <a href="{% url 'agent_agent_profile' %}" class="nav-item">AGENT</a>
        <a href="{% url 'agent_discover' %}" class="nav-item">DISCOVER OMAHA</a>
        <a href="{% url 'report' %}" class="nav-item">REPORT</a>
    </nav>
</header>